.userForm {
    margin-top: 100px;
    margin-inline-start: 455px;
    width: 500px;
    /* color: white; */
}

.form-group {
    padding: 10px;
}

.submit {
    text-align: center;
}

.style-error {
    background: rgb(243, 4, 4);
    color: white;
}

.style-error button {
    background-color: rgb(243, 4, 4);
    color: white;
}